openapi: 3.1.0
info:
  title: Vensis Paraşüt Bridge
  version: 1.1.1
  description: Secure bridge for reading Vensis Paraşüt data and creating sales invoices after user confirmation.
servers:
  - url: https://europe-west1-metin-finans.cloudfunctions.net/parasutBridge
components:
  schemas: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
paths:
  /health:
    get:
      operationId: getBridgeStatus
      summary: Check whether the Paraşüt bridge is connected
      responses:
        '200':
          description: Bridge status
  /contacts:
    get:
      operationId: searchContacts
      summary: Search Paraşüt customers or suppliers
      parameters:
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: tax_number
          schema:
            type: string
        - in: query
          name: email
          schema:
            type: string
      responses:
        '200':
          description: Matching contacts
  /products:
    get:
      operationId: searchProducts
      summary: Search Paraşüt products
      parameters:
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: code
          schema:
            type: string
      responses:
        '200':
          description: Matching products
  /sales-invoices:
    get:
      operationId: listSalesInvoices
      summary: List sales invoices from Paraşüt
      parameters:
        - in: query
          name: issue_date
          description: Paraşüt issue date filter
          schema:
            type: string
        - in: query
          name: payment_status
          schema:
            type: string
            enum:
              - overdue
              - not_due
              - unscheduled
              - paid
        - in: query
          name: page_size
          schema:
            type: integer
            minimum: 1
            maximum: 25
            default: 15
      responses:
        '200':
          description: Sales invoices
    post:
      operationId: createSalesInvoice
      summary: Create a sales invoice in Paraşüt
      description: First resolve the exact customer and product IDs with searchContacts and searchProducts. Confirm all financial values with the user before calling this action.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contact_id
                - issue_date
                - lines
              properties:
                contact_id:
                  type: string
                issue_date:
                  type: string
                  format: date
                due_date:
                  type: string
                  format: date
                description:
                  type: string
                currency:
                  type: string
                  default: TRL
                lines:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required:
                      - product_id
                      - quantity
                      - unit_price
                    properties:
                      product_id:
                        type: string
                      quantity:
                        type: number
                        exclusiveMinimum: 0
                      unit_price:
                        type: number
                        minimum: 0
                      vat_rate:
                        type: number
                        default: 20
                      discount_value:
                        type: number
                        minimum: 0
                        default: 0
                      description:
                        type: string
      responses:
        '201':
          description: Created sales invoice
  /purchase-bills:
    get:
      operationId: listPurchaseBills
      summary: List purchase bills and costs from Paraşüt
      parameters:
        - in: query
          name: issue_date
          schema:
            type: string
        - in: query
          name: page_size
          schema:
            type: integer
            minimum: 1
            maximum: 25
            default: 15
      responses:
        '200':
          description: Purchase bills
