openapi: 3.1.0
info:
  title: Vensis Paraşüt Bridge
  version: 1.2.0
  description: Secure bridge for reading Vensis Paraşüt data and creating sales invoices after user confirmation.
servers:
  - url: https://europe-west1-metin-finans.cloudfunctions.net/parasutBridge
components:
  schemas: {}
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
security:
  - bearerAuth: []
paths:
  /health:
    get:
      operationId: getBridgeStatus
      summary: Check whether the Paraşüt bridge is connected
      responses:
        '200':
          description: Bridge status
  /contacts:
    get:
      operationId: searchContacts
      summary: Search Paraşüt customers or suppliers
      parameters:
        - in: query
          name: name
          schema:
            type: string
        - in: query
          name: tax_number
          schema:
            type: string
        - in: query
          name: email
          schema:
            type: string
      responses:
        '200':
          description: Matching contacts
  /sales-invoices:
    get:
      operationId: listSalesInvoices
      summary: List sales invoices from Paraşüt
      parameters:
        - in: query
          name: issue_date
          description: Paraşüt issue date filter
          schema:
            type: string
        - in: query
          name: payment_status
          schema:
            type: string
            enum:
              - overdue
              - not_due
              - unscheduled
              - paid
        - in: query
          name: page_size
          schema:
            type: integer
            minimum: 1
            maximum: 25
            default: 15
      responses:
        '200':
          description: Sales invoices
    post:
      operationId: createSalesInvoice
      summary: Create a sales invoice in Paraşüt
      description: Resolve the exact customer with searchContacts. Do not search the Paraşüt product catalog for invoice creation. The bridge automatically uses the fixed VENSIS GENEL FATURA KALEMİ product. Put the real sold product or service text in each line description. Confirm all financial values and obtain explicit user approval before calling this action.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - contact_id
                - issue_date
                - lines
              properties:
                contact_id:
                  type: string
                issue_date:
                  type: string
                  format: date
                due_date:
                  type: string
                  format: date
                description:
                  type: string
                currency:
                  type: string
                  default: TRL
                  description: Use TRL for Turkish Lira. For non-TRL invoices exchange_rate must also be supplied.
                exchange_rate:
                  type: number
                  exclusiveMinimum: 0
                  description: Required when currency is not TRL. Use the user-confirmed exchange rate; never guess it.
                lines:
                  type: array
                  minItems: 1
                  items:
                    type: object
                    required:
                      - description
                      - quantity
                      - unit_price
                    properties:
                      description:
                        type: string
                        minLength: 1
                        description: Real product, model, service or invoice-line text to show on the invoice.
                      quantity:
                        type: number
                        exclusiveMinimum: 0
                      unit_price:
                        type: number
                        minimum: 0
                      vat_rate:
                        type: number
                        default: 20
                      discount_value:
                        type: number
                        minimum: 0
                        default: 0
      responses:
        '201':
          description: Created sales invoice
  /purchase-bills:
    get:
      operationId: listPurchaseBills
      summary: List purchase bills and costs from Paraşüt
      parameters:
        - in: query
          name: issue_date
          schema:
            type: string
        - in: query
          name: page_size
          schema:
            type: integer
            minimum: 1
            maximum: 25
            default: 15
      responses:
        '200':
          description: Purchase bills
